<a href="https://colab.research.google.com/github/bibhuprasad19/Big-Mart-Sales-Analytics-vidhya/blob/master/Big_marts_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
train_data=pd.read_csv('/content/drive/My Drive/BIg_Marts_Sales/train.csv')
train_data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:

train_data_new=train_data[['Item_Fat_Content','Item_Type','Outlet_Identifier' ,'Outlet_Size','Outlet_Location_Type','Outlet_Type']]
train_data.shape
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
for col in train_data.columns:
 
  print(col,':',len(train_data[col].unique()),'labels')

Item_Identifier : 1559 labels
Item_Weight : 416 labels
Item_Fat_Content : 5 labels
Item_Visibility : 7880 labels
Item_Type : 16 labels
Item_MRP : 5938 labels
Outlet_Identifier : 10 labels
Outlet_Establishment_Year : 9 labels
Outlet_Size : 4 labels
Outlet_Location_Type : 3 labels
Outlet_Type : 4 labels
Item_Outlet_Sales : 3493 labels

"HERE **deleted the 'item_identifier'**  'Item_Identifier',

In [ ]:
total_data=train_data[['Item_Weight','Item_Visibility','Item_MRP']]
total_data

      Item_Weight  Item_Visibility  Item_MRP
0           9.300         0.016047  249.8092
1           5.920         0.019278   48.2692
2          17.500         0.016760  141.6180
3          19.200         0.000000  182.0950
4           8.930         0.000000   53.8614
...           ...              ...       ...
8518        6.865         0.056783  214.5218
8519        8.380         0.046982  108.1570
8520       10.600         0.035186   85.1224
8521        7.210         0.145221  103.1332
8522       14.800         0.044878   75.4670

[8523 rows x 3 columns]

In [ ]:
final_data=pd.DataFrame({'Item_Fat_Content':train_data['Item_Fat_Content'],'Item_Type':train_data['Item_Type'],'Outlet_Identifier':train_data['Outlet_Identifier'],'Outlet_Establishment_Year':train_data['Outlet_Establishment_Year']
                                ,	'Outlet_Location_Type':train_data['Outlet_Location_Type'],	'Outlet_Type':train_data['Outlet_Type']})
final_data

     Item_Fat_Content  ...        Outlet_Type
0             Low Fat  ...  Supermarket Type1
1             Regular  ...  Supermarket Type2
2             Low Fat  ...  Supermarket Type1
3             Regular  ...      Grocery Store
4             Low Fat  ...  Supermarket Type1
...               ...  ...                ...
8518          Low Fat  ...  Supermarket Type1
8519          Regular  ...  Supermarket Type1
8520          Low Fat  ...  Supermarket Type1
8521          Regular  ...  Supermarket Type2
8522          Low Fat  ...  Supermarket Type1

[8523 rows x 6 columns]

HERE WE HAVE IGNORED 'OUTLET_SIZE' 
IF REQUIRED ADD IT('Outlet_Size':train_data['Outlet_Size'],

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import numpy as np
Labelencoder=LabelEncoder()

final_data['Item_Fat_Content']=Labelencoder.fit_transform(final_data['Item_Fat_Content'])
final_data['Item_Type']=Labelencoder.fit_transform(final_data['Item_Type'])
final_data['Outlet_Establishment_Year']=Labelencoder.fit_transform(final_data['Outlet_Establishment_Year'])
final_data['Outlet_Identifier']=Labelencoder.fit_transform(final_data['Outlet_Identifier'])
#final_data['Outlet_Size']=Labelencoder.fit_transform(final_data['Outlet_Size'])
final_data['Outlet_Location_Type']=Labelencoder.fit_transform(final_data['Outlet_Location_Type'])
final_data['Outlet_Type']=Labelencoder.fit_transform(final_data['Outlet_Type'])

In [ ]:
final_data

      Item_Fat_Content  Item_Type  ...  Outlet_Location_Type  Outlet_Type
0                    1          4  ...                     0            1
1                    2         14  ...                     2            2
2                    1         10  ...                     0            1
3                    2          6  ...                     2            0
4                    1          9  ...                     2            1
...                ...        ...  ...                   ...          ...
8518                 1         13  ...                     2            1
8519                 2          0  ...                     1            1
8520                 1          8  ...                     1            1
8521                 2         13  ...                     2            2
8522                 1         14  ...                     0            1

[8523 rows x 6 columns]

In [ ]:
one_hot=OneHotEncoder(handle_unknown='ignore')
one_hot_df=pd.DataFrame(one_hot.fit_transform(final_data).toarray())

one_hot_df

       0    1    2    3    4    5    6   ...   40   41   42   43   44   45   46
0     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0  0.0  0.0
1     0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  1.0  0.0
2     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0  0.0  0.0
3     0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  1.0  0.0  0.0  0.0
4     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  1.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
8518  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  1.0  0.0  0.0
8519  0.0  0.0  1.0  0.0  0.0  1.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
8520  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
8521  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  1.0  0.0
8522  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0  0.0  0.0

[8523 rows x 47 columns]

In [ ]:
total_data_new=total_data.join(one_hot_df,lsuffix='_left',rsuffix='_right')
total_data_new.head()

   Item_Weight  Item_Visibility  Item_MRP    0    1  ...   42   43   44   45   46
0         9.30         0.016047  249.8092  0.0  1.0  ...  0.0  0.0  1.0  0.0  0.0
1         5.92         0.019278   48.2692  0.0  0.0  ...  1.0  0.0  0.0  1.0  0.0
2        17.50         0.016760  141.6180  0.0  1.0  ...  0.0  0.0  1.0  0.0  0.0
3        19.20         0.000000  182.0950  0.0  0.0  ...  1.0  1.0  0.0  0.0  0.0
4         8.93         0.000000   53.8614  0.0  1.0  ...  1.0  0.0  1.0  0.0  0.0

[5 rows x 50 columns]

In [ ]:
total_data_new.isnull().sum()

Item_Weight        1463
Item_Visibility       0
Item_MRP              0
0                     0
1                     0
2                     0
3                     0
4                     0
5                     0
6                     0
7                     0
8                     0
9                     0
10                    0
11                    0
12                    0
13                    0
14                    0
15                    0
16                    0
17                    0
18                    0
19                    0
20                    0
21                    0
22                    0
23                    0
24                    0
25                    0
26                    0
27                    0
28                    0
29                    0
30                    0
31                    0
32                    0
33                    0
34                    0
35                    0
36                    0
37                    0
38                    0
39                    0
40                    0
41                    0
42                    0
43                    0
44                    0
45                    0
46                    0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(strategy='mean')
total_data_abs=imp.fit_transform(total_data_new)
total_data_abs

array([[9.30000000e+00, 1.60473010e-02, 2.49809200e+02, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.92000000e+00, 1.92782160e-02, 4.82692000e+01, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.75000000e+01, 1.67600750e-02, 1.41618000e+02, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.06000000e+01, 3.51862710e-02, 8.51224000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.21000000e+00, 1.45220646e-01, 1.03133200e+02, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.48000000e+01, 4.48782800e-02, 7.54670000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [ ]:
from sklearn.model_selection import train_test_split
X=total_data_abs
Y=train_data['Item_Outlet_Sales']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()


X_train_scaled=sc_x.fit_transform(X_train)
X_test_scaled=sc_x.fit_transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression,ElasticNetCV,LassoCV,RidgeCV
import xgboost 
from sklearn.ensemble import AdaBoostRegressor,RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import GridSearchCV

In [ ]:
#linear_regression
lin_regressor=LinearRegression()
lin_regressor.fit(X_train_scaled,Y_train)

#elasticnet
elast_regressor=ElasticNetCV()#alpha=1.0,l1_ratio=0.5
elast_regressor.fit(X_train_scaled,Y_train)

#lasso
lasso_regressor=LassoCV()
lasso_regressor.fit(X_train_scaled,Y_train)

#Ridge
ridge_regressor=RidgeCV()
ridge_regressor.fit(X_train_scaled,Y_train)

#xgboost
xgb_regressor=xgboost.XGBRegressor(max_depth=5,learning_rate=0.08,n_estimators=150)
xgb_regressor.fit(X_train_scaled,Y_train)

#adaboost
ada_regressor=AdaBoostRegressor(n_estimators=200,learning_rate=3,loss='linear')
ada_regressor.fit(X_train_scaled,Y_train)

#decisionTree
tree_regressor=DecisionTreeRegressor(max_depth=250)
tree_regressor.fit(X_train_scaled,Y_train)

#randomforest
forest_regressor=RandomForestRegressor(n_estimators=100,max_depth=10,random_state=0)
forest_regressor.fit(X_train_scaled,Y_train)

#KNN
knn_regressor=KNeighborsRegressor(n_neighbors=7,weights='uniform')
knn_regressor.fit(X_train_scaled,Y_train)

#SVR
svr_regressor=SVR(gamma=0.05,kernel='linear',C=5)#
svr_regressor.fit(X_train_scaled,Y_train)

[21:28:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

SVR(C=5, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.05,
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
y_pred_lin = lin_regressor.predict(X_test_scaled)
y_pred_elast=elast_regressor.predict(X_test_scaled)
y_pred_lasso=lasso_regressor.predict(X_test_scaled)
y_pred_ridge=ridge_regressor.predict(X_test_scaled)
y_pred_xgb = xgb_regressor.predict(X_test_scaled)
y_pred_ada = ada_regressor.predict(X_test_scaled)
y_pred_tree = tree_regressor.predict(X_test_scaled)
y_pred_forest = forest_regressor.predict(X_test_scaled)
y_pred_knn = knn_regressor.predict(X_test_scaled)
y_pred_svr = svr_regressor.predict(X_test_scaled)

In [ ]:
from sklearn import metrics 

print('Root Mean Squared Error of linear:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_lin)))
print('Root Mean Squared Error of Elasticnet:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_elast)))
print('Root Mean Squared Error of Lasso:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_lasso)))
print('Root Mean Squared Error of ridge:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_ridge)))

print('Root Mean Squared Error of xgb:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_xgb)))
print('Root Mean Squared Error of ada:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_ada)))
print('Root Mean Squared Error of tree:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_tree)))
print('Root Mean Squared Error of forest:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_forest)))
print('Root Mean Squared Error of knn:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_knn)))
print('Root Mean Squared Error of svr:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred_svr)))

Root Mean Squared Error of linear: 557602753789348.2
Root Mean Squared Error of Elasticnet: 1278.478408387623
Root Mean Squared Error of Lasso: 1140.205200797022
Root Mean Squared Error of ridge: 1138.9866876863734
Root Mean Squared Error of xgb: 1074.8617704583728
Root Mean Squared Error of ada: 1417.180655398844
Root Mean Squared Error of tree: 1488.1605049008995
Root Mean Squared Error of forest: 1065.7816503815466
Root Mean Squared Error of knn: 1240.9342198292763
Root Mean Squared Error of svr: 1162.400590119326

In [ ]:
testing_data=pd.read_csv('/content/drive/My Drive/BIg_Marts_Sales/test.csv')
testing_data.shape

(5681, 11)

In [ ]:
test_total_data=testing_data[['Item_Weight','Item_Visibility','Item_MRP']]

In [ ]:
test_final_data=pd.DataFrame({'Item_Fat_Content':testing_data['Item_Fat_Content'],'Item_Type':testing_data['Item_Type'],'Outlet_Identifier':testing_data['Outlet_Identifier'],'Outlet_Establishment_Year':testing_data['Outlet_Establishment_Year']
                                ,	'Outlet_Location_Type':testing_data['Outlet_Location_Type'],	'Outlet_Type':testing_data['Outlet_Type']})
test_final_data

     Item_Fat_Content  ...        Outlet_Type
0             Low Fat  ...  Supermarket Type1
1                 reg  ...  Supermarket Type1
2             Low Fat  ...      Grocery Store
3             Low Fat  ...  Supermarket Type1
4             Regular  ...  Supermarket Type3
...               ...  ...                ...
5676          Regular  ...  Supermarket Type1
5677          Regular  ...  Supermarket Type2
5678          Low Fat  ...  Supermarket Type1
5679          Regular  ...  Supermarket Type1
5680          Regular  ...  Supermarket Type1

[5681 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import numpy as np
Labelencoder=LabelEncoder()

test_final_data['Item_Fat_Content']=Labelencoder.fit_transform(test_final_data['Item_Fat_Content'])
test_final_data['Item_Type']=Labelencoder.fit_transform(test_final_data['Item_Type'])
test_final_data['Outlet_Establishment_Year']=Labelencoder.fit_transform(test_final_data['Outlet_Establishment_Year'])
test_final_data['Outlet_Identifier']=Labelencoder.fit_transform(test_final_data['Outlet_Identifier'])
#final_data['Outlet_Size']=Labelencoder.fit_transform(final_data['Outlet_Size'])
test_final_data['Outlet_Location_Type']=Labelencoder.fit_transform(test_final_data['Outlet_Location_Type'])
test_final_data['Outlet_Type']=Labelencoder.fit_transform(test_final_data['Outlet_Type'])

In [ ]:
one_hot=OneHotEncoder(handle_unknown='ignore')
test_one_hot_df=pd.DataFrame(one_hot.fit_transform(test_final_data).toarray())

test_one_hot_df

       0    1    2    3    4    5    6   ...   40   41   42   43   44   45   46
0     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0  0.0  0.0
1     0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
2     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  1.0  0.0  0.0  0.0
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
4     0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5676  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0  0.0  0.0
5677  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  1.0  0.0
5678  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
5679  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0
5680  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0

[5681 rows x 47 columns]

In [ ]:
test_total_data_new=test_total_data.join(test_one_hot_df,lsuffix='_left',rsuffix='_right')
test_total_data_new.head()

   Item_Weight  Item_Visibility  Item_MRP    0    1  ...   42   43   44   45   46
0       20.750         0.007565  107.8622  0.0  1.0  ...  0.0  0.0  1.0  0.0  0.0
1        8.300         0.038428   87.3198  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0
2       14.600         0.099575  241.7538  0.0  1.0  ...  1.0  1.0  0.0  0.0  0.0
3        7.315         0.015388  155.0340  0.0  1.0  ...  0.0  0.0  1.0  0.0  0.0
4          NaN         0.118599  234.2300  0.0  0.0  ...  1.0  0.0  0.0  0.0  1.0

[5 rows x 50 columns]

In [ ]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(strategy='mean')
test_total_data_abs=imp.fit_transform(test_total_data_new)
test_total_data_abs

array([[2.07500000e+01, 7.56483600e-03, 1.07862200e+02, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.30000000e+00, 3.84276770e-02, 8.73198000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.46000000e+01, 9.95749080e-02, 2.41753800e+02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.00000000e+01, 7.35285610e-02, 1.18744000e+02, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.53000000e+01, 0.00000000e+00, 2.14621800e+02, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [9.50000000e+00, 1.04720151e-01, 7.97960000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()


test_total_data_abs_scaled=sc_x.fit_transform(test_total_data_abs)
test_total_data_abs_scaled

array([[ 1.89745979, -1.13407715, -0.53655526, ...,  0.72689965,
        -0.34937375, -0.35127385],
       [-1.03552991, -0.53185019, -0.86893692, ...,  0.72689965,
        -0.34937375, -0.35127385],
       [ 0.44863355,  0.6613164 ,  1.62984753, ..., -1.37570571,
        -0.34937375, -0.35127385],
       ...,
       [-0.63504136,  0.15307374, -0.36048475, ...,  0.72689965,
        -0.34937375, -0.35127385],
       [ 0.6135406 , -1.28168987,  1.19084433, ...,  0.72689965,
        -0.34937375, -0.35127385],
       [-0.75283211,  0.76171558, -0.99067406, ...,  0.72689965,
        -0.34937375, -0.35127385]])

In [ ]:
Y_pred=xgb_regressor.predict(test_total_data_abs_scaled)

In [ ]:
Item_Identifier=testing_data['Item_Identifier']
Outlet_Identifier=testing_data['Outlet_Identifier']

0

In [ ]:
final_submission=pd.DataFrame({'Item_Identifier':Item_Identifier,'Outlet_Identifier':Outlet_Identifier,"Item_Outlet_Sales":Y_pred})

In [ ]:
final_submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1532.713745
1              FDW14            OUT017        1376.128052
2              NCN55            OUT010         546.110962
3              FDQ58            OUT017        2564.913330
4              FDY38            OUT027        5918.115234
...              ...               ...                ...
5676           FDB58            OUT046        2082.523193
5677           FDD47            OUT018        2481.052490
5678           NCO17            OUT045        1764.461670
5679           FDJ26            OUT017        4847.489746
5680           FDU37            OUT045        1334.608032

[5681 rows x 3 columns]

In [ ]:
sample=pd.read_csv('/content/drive/My Drive/BIg_Marts_Sales/sample_submission_8RXa3c6.csv')
sample

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049               1000
1              FDW14            OUT017               1000
2              NCN55            OUT010               1000
3              FDQ58            OUT017               1000
4              FDY38            OUT027               1000
...              ...               ...                ...
5676           FDB58            OUT046               1000
5677           FDD47            OUT018               1000
5678           NCO17            OUT045               1000
5679           FDJ26            OUT017               1000
5680           FDU37            OUT045               1000

[5681 rows x 3 columns]

In [ ]:
final_submission.to_csv('big_marts_sales.csv',index=False)